.btn{
    width: 50px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}
.full{
    height: 350px;
    width: 250px;
    border: solid 1px;
    border-radius: 5px;
}
.body{
    margin-top: 20px;
}
#txtbox{
    width: 200px;
    height: 45px;
    pointer-events: none;
    border-radius: 5px;
}